<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [32]:
df = pd.read_csv(file_name)
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,11552.000000,1.073700e+04,1.073000e+04,11427.000000,9083.000000,11255.000000
mean,12362.212517,7.499932e+05,1.313340e+05,42.051851,4.762829,30.772394
std,7271.939210,9.639522e+06,2.943245e+05,24.528561,4.548401,7.392780
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000
25%,6011.500000,2.500000e+04,2.672700e+04,40.000000,2.000000,25.000000
50%,12323.500000,6.500000e+04,5.774400e+04,40.000000,4.000000,29.000000
75%,18686.500000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [31]:
# your code goe
dups = df.duplicated()
print(dups.sum())

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [34]:
# your code goes here
df = df.drop_duplicates(keep='last')
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,11398.000000,1.058900e+04,1.058200e+04,11276.000000,8972.000000,11111.000000
mean,12490.392437,7.570477e+05,1.315967e+05,42.064606,4.781071,30.778895
std,7235.461999,9.705598e+06,2.947865e+05,24.672741,4.567060,7.393686
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000
25%,6264.250000,2.500000e+04,2.686800e+04,40.000000,2.000000,25.000000
50%,12484.000000,6.500000e+04,5.774500e+04,40.000000,4.000000,29.000000
75%,18784.750000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000

Verify if duplicates were actually dropped.

In [35]:
# your code goes here
dups = df.duplicated()
print(dups.sum())

0

## Finding Missing values

Find the missing values for all columns.

In [60]:
# your code goes here
nas = df.isna()
print(df[nas])

       Respondent MainBranch Hobbyist OpenSourcer OpenSource Employment  \
0             NaN        NaN      NaN         NaN        NaN        NaN
1             NaN        NaN      NaN         NaN        NaN        NaN
2             NaN        NaN      NaN         NaN        NaN        NaN
3             NaN        NaN      NaN         NaN        NaN        NaN
4             NaN        NaN      NaN         NaN        NaN        NaN
...           ...        ...      ...         ...        ...        ...
11547         NaN        NaN      NaN         NaN        NaN        NaN
11548         NaN        NaN      NaN         NaN        NaN        NaN
11549         NaN        NaN      NaN         NaN        NaN        NaN
11550         NaN        NaN      NaN         NaN        NaN        NaN
11551         NaN        NaN      NaN         NaN        NaN        NaN

      Country Student EdLevel UndergradMajor  ... WelcomeChange SONewContent  \
0         NaN     NaN     NaN            NaN  ...           NaN          NaN
1         NaN     NaN     NaN            NaN  ...           NaN          NaN
2         NaN     NaN     NaN            NaN  ...           NaN          NaN
3         NaN     NaN     NaN            NaN  ...           NaN          NaN
4         NaN     NaN     NaN            NaN  ...           NaN          NaN
...       ...     ...     ...            ...  ...           ...          ...
11547     NaN     NaN     NaN            NaN  ...           NaN          NaN
11548     NaN     NaN     NaN            NaN  ...           NaN          NaN
11549     NaN     NaN     NaN            NaN  ...           NaN          NaN
11550     NaN     NaN     NaN            NaN  ...           NaN          NaN
11551     NaN     NaN     NaN            NaN  ...           NaN          NaN

      Age Gender Trans Sexuality Ethnicity Dependents SurveyLength SurveyEase
0     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
1     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
2     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
3     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
4     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
...    ..    ...   ...       ...       ...        ...          ...        ...
11547 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11548 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11549 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11550 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11551 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [61]:
# your code goes here
wlnas = pd.isna(df['WorkLoc'])
print(df[wlnas])

       Respondent                                         MainBranch Hobbyist  \
130           285                     I am a developer by profession      Yes
242           550                     I am a developer by profession      Yes
866          1847                     I am a developer by profession      Yes
1455         2826                     I am a developer by profession      Yes
1753         3536                     I am a developer by profession      Yes
2339         4768                     I am a developer by profession      Yes
2689         5562                     I am a developer by profession       No
2788         5769                     I am a developer by profession      Yes
3165         6613                     I am a developer by profession       No
3213         6721                     I am a developer by profession       No
3690         7799  I am not primarily a developer, but I write co...      Yes
3996         8456                     I am a developer by profession      Yes
4944        10508                     I am a developer by profession       No
5654        12043                     I am a developer by profession      Yes
5671        12087                     I am a developer by profession       No
5824        12434                     I am a developer by profession       No
6321        13491                     I am a developer by profession      Yes
7361        15765  I am not primarily a developer, but I write co...      Yes
7557        16228                     I am a developer by profession       No
7714        16572                     I am a developer by profession      Yes
7779        16738                     I am a developer by profession      Yes
8010        17226                     I am a developer by profession      Yes
8188        17634                     I am a developer by profession      Yes
8855        19118                     I am a developer by profession      Yes
9066        19578                     I am a developer by profession       No
9070        19586                     I am a developer by profession      Yes
10219       22033                     I am a developer by profession       No
10709       23189                     I am a developer by profession      Yes
10951       23724                     I am a developer by profession      Yes
11253       24435                     I am a developer by profession       No
11331       24620                     I am a developer by profession      Yes
11521       25082                     I am a developer by profession      Yes

                                             OpenSourcer  \
130                                                Never
242                              Less than once per year
866                                                Never
1455   Less than once a month but more than once per ...
1753                          Once a month or more often
2339   Less than once a month but more than once per ...
2689                                               Never
2788   Less than once a month but more than once per ...
3165                             Less than once per year
3213   Less than once a month but more than once per ...
3690                                               Never
3996   Less than once a month but more than once per ...
4944                             Less than once per year
5654                                               Never
5671                                               Never
5824   Less than once a month but more than once per ...
6321   Less than once a month but more than once per ...
7361   Less than once a month but more than once per ...
7557                                               Never
7714   Less than once a month but more than once per ...
7779                          Once a month or more often
8010                                               Never
8188                                               Never
8855                             Less than once per year
9066                          Once a month or more often
9070                             Less than once per year
10219                                              Never
10709                            Less than once per year
10951  Less than once a month but more than once per ...
11253                            Less than once per year
11331                                              Never
11521                            Less than once per year

                                              OpenSource          Employment  \
130    The quality of OSS and closed source software ...  Employed full-time
242    The quality of OSS and closed source software ...  Employed full-time
866    The quality of OSS and closed source software ...  Employed full-time
1455   OSS is, on average, of HIGHER quality than pro...  Employed full-time
1753   OSS is, on average, of HIGHER quality than pro...  Employed full-time
2339   OSS is, on average, of HIGHER quality than pro...  Employed full-time
2689   The quality of OSS and closed source software ...  Employed full-time
2788                                                 NaN  Employed full-time
3165   OSS is, on average, of HIGHER quality than pro...  Employed full-time
3213                                                 NaN  Employed full-time
3690   OSS is, on average, of HIGHER quality than pro...  Employed full-time
3996   OSS is, on average, of HIGHER quality than pro...  Employed full-time
4944   The quality of OSS and closed source software ...  Employed full-time
5654   The quality of OSS and closed source software ...  Employed full-time
5671   The quality of OSS and closed source software ...  Employed full-time
5824   The quality of OSS and closed source software ...  Employed full-time
6321   OSS is, on average, of LOWER quality than prop...  Employed full-time
7361   The quality of OSS and closed source software ...  Employed full-time
7557   The quality of OSS and closed source software ...  Employed full-time
7714   OSS is, on average, of HIGHER quality than pro...  Employed full-time
7779   OSS is, on average, of HIGHER quality than pro...  Employed full-time
8010   OSS is, on average, of HIGHER quality than pro...  Employed full-time
8188   OSS is, on average, of HIGHER quality than pro...  Employed full-time
8855   OSS is, on average, of HIGHER quality than pro...  Employed full-time
9066   OSS is, on average, of HIGHER quality than pro...  Employed full-time
9070   OSS is, on average, of HIGHER quality than pro...  Employed full-time
10219  OSS is, on average, of HIGHER quality than pro...  Employed full-time
10709  The quality of OSS and closed source software ...  Employed full-time
10951  OSS is, on average, of HIGHER quality than pro...  Employed full-time
11253  The quality of OSS and closed source software ...  Employed full-time
11331  The quality of OSS and closed source software ...  Employed full-time
11521  OSS is, on average, of HIGHER quality than pro...  Employed full-time

              Country         Student  \
130    United Kingdom              No
242            Canada              No
866     United States              No
1455      Switzerland  Yes, part-time
1753          Austria  Yes, part-time
2339    United States              No
2689            India              No
2788      Switzerland              No
3165    United States              No
3213          Germany              No
3690    United States              No
3996           France              No
4944          Estonia              No
5654       Bangladesh              No
5671           Mexico              No
5824            Italy              No
6321            India              No
7361          Austria              No
7557         Slovenia              No
7714   United Kingdom              No
7779    United States              No
8010          Germany              No
8188            India              No
8855           Brazil              No
9066    United States              No
9070          Germany              No
10219           India              No
10709         Germany              No
10951   United States              No
11253           India              No
11331         Germany              No
11521         Germany              No

                                                 EdLevel  \
130             Bachelor’s degree (BA, BS, B.Eng., etc.)
242             Bachelor’s degree (BA, BS, B.Eng., etc.)
866             Bachelor’s degree (BA, BS, B.Eng., etc.)
1455            Bachelor’s degree (BA, BS, B.Eng., etc.)
1753            Bachelor’s degree (BA, BS, B.Eng., etc.)
2339            Bachelor’s degree (BA, BS, B.Eng., etc.)
2689         Master’s degree (MA, MS, M.Eng., MBA, etc.)
2788         Master’s degree (MA, MS, M.Eng., MBA, etc.)
3165            Bachelor’s degree (BA, BS, B.Eng., etc.)
3213            Bachelor’s degree (BA, BS, B.Eng., etc.)
3690   Some college/university study without earning ...
3996            Bachelor’s degree (BA, BS, B.Eng., etc.)
4944         Master’s degree (MA, MS, M.Eng., MBA, etc.)
5654            Bachelor’s degree (BA, BS, B.Eng., etc.)
5671            Bachelor’s degree (BA, BS, B.Eng., etc.)
5824         Master’s degree (MA, MS, M.Eng., MBA, etc.)
6321            Bachelor’s degree (BA, BS, B.Eng., etc.)
7361           Other doctoral degree (Ph.D, Ed.D., etc.)
7557            Bachelor’s degree (BA, BS, B.Eng., etc.)
7714            Bachelor’s degree (BA, BS, B.Eng., etc.)
7779         Master’s degree (MA, MS, M.Eng., MBA, etc.)
8010                                    Associate degree
8188            Bachelor’s degree (BA, BS, B.Eng., etc.)
8855            Bachelor’s degree (BA, BS, B.Eng., etc.)
9066            Bachelor’s degree (BA, BS, B.Eng., etc.)
9070            Bachelor’s degree (BA, BS, B.Eng., etc.)
10219           Bachelor’s degree (BA, BS, B.Eng., etc.)
10709        Master’s degree (MA, MS, M.Eng., MBA, etc.)
10951  Some college/university study without earning ...
11253  Some college/university study without earning ...
11331  Secondary school (e.g. American high school, G...
11521           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                          UndergradMajor  ...  \
130    Computer science, computer engineering, or sof...  ...
242    Computer science, computer engineering, or sof...  ...
866    A humanities discipline (ex. literature, histo...  ...
1455   Information systems, information technology, o...  ...
1753   Computer science, computer engineering, or sof...  ...
2339   Computer science, computer engineering, or sof...  ...
2689                                                 NaN  ...
2788   A natural science (ex. biology, chemistry, phy...  ...
3165   Fine arts or performing arts (ex. graphic desi...  ...
3213   Computer science, computer engineering, or sof...  ...
3690   Information systems, information technology, o...  ...
3996   Computer science, computer engineering, or sof...  ...
4944   Another engineering discipline (ex. civil, ele...  ...
5654   Computer science, computer engineering, or sof...  ...
5671   Computer science, computer engineering, or sof...  ...
5824                           Mathematics or statistics  ...
6321   Computer science, computer engineering, or sof...  ...
7361   A natural science (ex. biology, chemistry, phy...  ...
7557                       Web development or web design  ...
7714   Computer science, computer engineering, or sof...  ...
7779   Computer science, computer engineering, or sof...  ...
8010   Computer science, computer engineering, or sof...  ...
8188   Computer science, computer engineering, or sof...  ...
8855   Computer science, computer engineering, or sof...  ...
9066   Computer science, computer engineering, or sof...  ...
9070   Computer science, computer engineering, or sof...  ...
10219  Computer science, computer engineering, or sof...  ...
10709  Another engineering discipline (ex. civil, ele...  ...
10951  A humanities discipline (ex. literature, histo...  ...
11253  Another engineering discipline (ex. civil, ele...  ...
11331                                                NaN  ...
11521  Computer science, computer engineering, or sof...  ...

                                  WelcomeChange  \
130     Just as welcome now as I felt last year
242     Just as welcome now as I felt last year
866     Just as welcome now as I felt last year
1455   Somewhat less welcome now than last year
1753    Just as welcome now as I felt last year
2339    Just as welcome now as I felt last year
2689    Just as welcome now as I felt last year
2788    Just as welcome now as I felt last year
3165    Just as welcome now as I felt last year
3213    Just as welcome now as I felt last year
3690    Just as welcome now as I felt last year
3996    Just as welcome now as I felt last year
4944    Just as welcome now as I felt last year
5654    Just as welcome now as I felt last year
5671    Just as welcome now as I felt last year
5824    Just as welcome now as I felt last year
6321   Somewhat more welcome now than last year
7361    Just as welcome now as I felt last year
7557    Just as welcome now as I felt last year
7714    Just as welcome now as I felt last year
7779    Just as welcome now as I felt last year
8010                                        NaN
8188   Somewhat more welcome now than last year
8855      A lot more welcome now than last year
9066    Just as welcome now as I felt last year
9070    Just as welcome now as I felt last year
10219   Just as welcome now as I felt last year
10709   Just as welcome now as I felt last year
10951   Just as welcome now as I felt last year
11253   Just as welcome now as I felt last year
11331   Just as welcome now as I felt last year
11521   Just as welcome now as I felt last year

                                            SONewContent   Age Gender Trans  \
130    Tech articles written by other developers;Indu...  32.0    Man    No
242    Tech meetups or events in your area;Courses on...  37.0    Man    No
866    Industry news about technologies you're intere...  28.0    Man    No
1455                 Tech meetups or events in your area  29.0    Man    No
1753                 Tech meetups or events in your area  35.0    Man    No
2339                                                 NaN  24.0    Man    No
2689   Tech articles written by other developers;Tech...  28.0  Woman    No
2788   Tech meetups or events in your area;Courses on...  26.0    Man    No
3165   Tech articles written by other developers;Indu...  36.0    Man    No
3213           Tech articles written by other developers  34.0    Man    No
3690   Tech articles written by other developers;Indu...  54.0    Man    No
3996   Tech articles written by other developers;Indu...  26.0    Man    No
4944        Courses on technologies you're interested in  56.0    Man    No
5654           Tech articles written by other developers  23.0    Man    No
5671                                                 NaN  33.0    Man    No
5824   Industry news about technologies you're intere...  29.0  Woman    No
6321   Tech articles written by other developers;Indu...  25.0    Man    No
7361   Tech articles written by other developers;Indu...  36.0    Man    No
7557        Courses on technologies you're interested in  31.0    Man    No
7714   Tech articles written by other developers;Indu...  50.0    Man    No
7779                                                 NaN  36.0    Man    No
8010                                                 NaN  39.0    Man    No
8188   Tech articles written by other developers;Indu...  25.0    Man    No
8855   Tech articles written by other developers;Indu...  22.0    Man    No
9066   Tech articles written by other developers;Tech...  35.0    Man    No
9070   Tech articles written by other developers;Indu...  22.0    Man    No
10219  Tech articles written by other developers;Indu...  24.0  Woman    No
10709                                                NaN  44.0    Man    No
10951  Tech articles written by other developers;Indu...  35.0    Man    No
11253  Tech articles written by other developers;Tech...  22.0    Man    No
11331  Tech articles written by other developers;Indu...  38.0    Man    No
11521  Tech articles written by other developers;Indu...  35.0    Man    No

                     Sexuality  \
130    Straight / Heterosexual
242    Straight / Heterosexual
866    Straight / Heterosexual
1455   Straight / Heterosexual
1753                       NaN
2339   Straight / Heterosexual
2689   Straight / Heterosexual
2788   Straight / Heterosexual
3165   Straight / Heterosexual
3213   Straight / Heterosexual
3690   Straight / Heterosexual
3996   Straight / Heterosexual
4944   Straight / Heterosexual
5654   Straight / Heterosexual
5671   Straight / Heterosexual
5824   Straight / Heterosexual
6321   Straight / Heterosexual
7361   Straight / Heterosexual
7557   Straight / Heterosexual
7714   Straight / Heterosexual
7779   Straight / Heterosexual
8010   Straight / Heterosexual
8188   Straight / Heterosexual
8855   Straight / Heterosexual
9066                  Bisexual
9070   Straight / Heterosexual
10219  Straight / Heterosexual
10709  Straight / Heterosexual
10951  Straight / Heterosexual
11253  Straight / Heterosexual
11331  Straight / Heterosexual
11521  Straight / Heterosexual

                                               Ethnicity Dependents  \
130                         White or of European descent         No
242                         White or of European descent        Yes
866                                                  NaN         No
1455                        White or of European descent         No
1753                        White or of European descent         No
2339                        White or of European descent         No
2689                                                 NaN         No
2788                        White or of European descent         No
3165                        White or of European descent        Yes
3213                        White or of European descent         No
3690   Hispanic or Latino/Latina;White or of European...        Yes
3996                        White or of European descent         No
4944                        White or of European descent         No
5654                                         South Asian        Yes
5671                           Hispanic or Latino/Latina        Yes
5824                        White or of European descent         No
6321                                          East Asian         No
7361                        White or of European descent        Yes
7557                        White or of European descent         No
7714                        White or of European descent         No
7779                        White or of European descent        Yes
8010                        White or of European descent         No
8188                                          East Asian        Yes
8855                        White or of European descent         No
9066                        White or of European descent         No
9070                        White or of European descent         No
10219                                        Multiracial        Yes
10709                       White or of European descent        Yes
10951                       White or of European descent        Yes
11253                                        South Asian         No
11331                       White or of European descent        Yes
11521                       White or of European descent        Yes

                SurveyLength                  SurveyEase
130                 Too long                         NaN
242    Appropriate in length                        Easy
866                 Too long                        Easy
1455                Too long  Neither easy nor difficult
1753   Appropriate in length                        Easy
2339                Too long                        Easy

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [62]:
# your code goes h
print(wlnas.sum())

32

Identify the value that is most frequent (majority) in the WorkLoc column.

In [52]:
#make a note of the majority value here, for future reference
wloc_count = df.value_counts(['WorkLoc'])
print(wloc_count.index[0])

('Office',)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [66]:
# your code goes here
df['WorkLoc'].fillna('Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [67]:
# your code goes here
wlnas = pd.isna(df['WorkLoc'])
wlnas.sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [68]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [85]:
# your code goes here
annualComp = []
for row in df.index:
    if df['CompFreq'][row] == 'Weekly':
        annualComp.append(df['CompTotal'][row]*52)
    elif df['CompFreq'][row] == 'Monthly':
        annualComp.append(df['CompTotal'][row]*12)
    else: annualComp.append(df['CompTotal'][row])
df['NormalizedAnnualCompensation'] = annualComp
print(df[['CompFreq','CompTotal','NormalizedAnnualCompensation']])

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).